<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springsecurity_sso.dao.RoleMapper">

    <select id="getRolesByUserId" parameterType="java.lang.Long" resultType="role" resultMap="baseMap" >
        SELECT id, name_en, name_cn FROM sys_role WHERE id = (SELECT role_id FROM sys_related_user_role WHERE user_id = #{userId})
    </select>
    
    <select id="getRolesByMenuId" parameterType="java.lang.Long" resultType="role" resultMap="baseMap" >
        SELECT sys_role.id, name_en, name_cn FROM sys_role LEFT JOIN sys_related_menu_role on sys_role.id = sys_related_menu_role.role_id WHERE menu_id = #{menuId}
    </select>

    <resultMap id="baseMap" type="role" >
        <id property="id" column="id" />
        <result property="nameEn" column="name_en" />
        <result property="nameCn" column="name_cn" />
    </resultMap>

</mapper>
